AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: OnePerLine
BreakBeforeBraces: Allman
ColumnLimit: 79
Cpp11BracedListStyle: Block
IndentCaseLabels: true
ReflowComments: Never
SortIncludes:
  Enabled: false
